<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101817433546-kprpbglctltjgcr915kg3ic01mpguqmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101817433546-kprpbglctltjgcr915kg3ic01mpguqmh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101817433546-lqn8jvkr46q1m6ti6co354cick8sa18f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt4bF3QCc3rPNc2WFRHI7N9LGSznKNJ8U</string>
	<key>GCM_SENDER_ID</key>
	<string>101817433546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.eline</string>
	<key>PROJECT_ID</key>
	<string>elinefb-1b217</string>
	<key>STORAGE_BUCKET</key>
	<string>elinefb-1b217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101817433546:ios:283edac3da96264aec2333</string>
</dict>
</plist>